@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
    z-index: 2;
}

.options::-webkit-scrollbar {
    width: 6px
}

.options::-webkit-scrollbar-track {
    background: #f0f0f0
}

.options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}